@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #d64161;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #030303;
  width: 1000px;
  height: 700px;
  display: flex;
  border-radius: 15px;
}

.wrapper .wrapper_left {
  width: 250px;
  background: #b8b8c9;
  padding: 0 25px;
  display: flex;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 15px;
  box-shadow: 10px 0px 13px 0px rgba(41, 41, 57, 0.7);
}

.wrapper .wrapper_left ul li {
  background: #313142;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  width: 200px;
  letter-spacing: 2px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.wrapper .wrapper_left ul li p {
  color: #abaacd;
  position: relative;
}

.wrapper .wrapper_left ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: #EE82EE;
  background: linear-gradient(
    126deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(231, 95, 90) 0%,
    rgb(196, 62, 29) 100%
  );
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 3s ease;
}

.wrapper .wrapper_left ul li.active {
  width: 250px;
}
.wrapper .wrapper_left ul li.active p {
  color: #fff;
}
.wrapper .wrapper_left ul li.active:before {
  width: 100%;
  transition: all 0.2s ease;
}

.wrapper .wrapper_left ul li:last-child {
  margin-bottom: 90;
}

.wrapper .wrapper_right {
  width: 550px;
  padding: 30px 50px;
}

.wrapper .wrapper_right .title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #b08ba4;
  margin-bottom: 20px;
  text-transform: uppercase;
}




.wrapper .wrapper_right .item.oneplus .item_info .img:before {
  background-position: 0 0;
  width: 94px;
  height: 101px;
}
.wrapper .wrapper_right .item.registration .item_info .img:before {
  background-position: 0 -110px;
  width: 89px;
  height: 101px;
}
.wrapper .wrapper_right .item.vuejs .item_info .img:before {
  background-position: 0 -330px;
  width: 100px;
  height: 101px;
}

.wrapper .wrapper_right .item .item_info p {
  background: #fff;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  color: #abaacd;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .wrapper_right .item.oneplus .item_info p {
  color: #dd0330;
}
.wrapper .wrapper_right .item.registration .item_info p {
  color: #27bad4;
}

.wrapper .wrapper_right .item.vuejs .item_info p {
  color: #6041b7;
}

.wrapper .wrapper_right .item p {
  margin-bottom: 20px;
  color: #fff;
}

table{
	margin-top: 50px;
	text-align: center;
	background: rgb(50, 185, 38);
	color: #fff;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}
